<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'edit profile'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: 'profile'}) %>
    <strong>
      <a class="nohover" href="/profile/<%= username %>">..</a> edit profile
    </strong>
    <div class="info nospill nav">
      <div class="profile-main nospill">
        <i class="fas fa-user-circle ico-pad"></i> <strong>credentials</strong>
        <div class="info">
            <article>username: <strong><%= username %></strong></article>
            <article><a href="<%= username %>/password">change password</a></article>
        </div>
        <form action="/profile/edit/<%=username %>" method="POST">
            <i class="fas fa-globe-europe ico-pad"></i> <strong>socials</strong>
            <div class="info">
                <% if(data.socials && data.socials["fab fa-soundcloud"] && data.socials["fab fa-soundcloud"].length > 0 ) { %>
                    <input type="text" placeholder="<%= data.socials['fab fa-soundcloud'] %>" name="scurl"><br/>
                <% } else { %>
                    <input type="text" placeholder="soundcloud url" name="scurl"><br/>
                <% } %>
                <% if(data.socials && data.socials["fab fa-bandcamp"] && data.socials["fab fa-bandcamp"].length > 0 ) { %>
                    <input type="text" placeholder="<%= data.socials['fab fa-bandcamp'] %>" name="bcurl">
                <% } else { %>
                    <input type="text" placeholder="bandcamp url" name="bcurl">
                <% } %>
            </div>
            <i class="fas fa-toolbox ico-pad"></i> <strong>gear</strong>
            <div class="info">
                <% if(data.gear && data.gear.trim().length > 0) { %>
                    <input type="text" placeholder="<%= data.gear %>" name="gear">
                <% } else { %>
                    <input type="text" placeholder="enter your gear here" name="gear">
                <% } %>
            </div>
            <i class="fas fa-wrench ico-pad"></i> <strong>options</strong>
            <div class="info mb-8">
              <% if(data.hideStats != undefined && data.hideStats == true) { %>
                <input type="checkbox" name="hidestats" value="1" checked id="privacy">
              <% } else { %>
                <input type="checkbox" name="hidestats" value="0" id="privacy">
              <% } %>
              <label for="privacy" class="noselect">hide winrate and battles</label>
              <br />
            </div>
            <input class="full-vis" type="submit" value="save">
        </form>
      </div>
   </div>
  </body>
</html>
