<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="../">home</a> / <a href='../battles'>battles</a> / <% if(currentUser == username) { %><span class="year">profile</span><% }else {%><a href="/profile">profile</a><% }%> ]</span>
    </div>
    <% if(messages.info) { %>
      <div class="message noselect">
        <span id="nav"><i class="fas fa-info-circle ico-pad"></i> <%= messages.info %> </span>
      </div><br/>
    <% } %>
    <strong>
      <i class="fas fa-fan ico-pad"></i> user profile
    </strong>
    <% if(currentUser == username) { %>
      <span class="toolbar nav">
          <span>
            <a href="/profile/edit/<%=username%>"><i class="fas fa-edit nohover"></i></a>
          </span>
      </span>
    <% } %>
    <div class="info nospill nav">
      <div class="profile-main nospill">
        <% if(group == 'banned') { %>
          <h2><strike><%= username %></strike></h2>
        <% }else { %>
          <h2><%= username %></h2>
        <% } %>
        <% if(data.socials && Object.keys(data.socials).length > 0) { %>
        <div class="socials info">
          <% Object.keys(data.socials).forEach(function(social) { %>
            <a href="https://<%= data.socials[social] %>" target="_blank"><i class="<%= social %>"></i></a>
          <% }); %>
        </div><br/>
        <% } %>

        <i class="fas fa-user-secret ico-pad"></i> <strong>about</strong>
        <div class="info">
            <% if(group == 'banned') { %>
              <article><i class="fas fa-ban"></i> <strong>this user has been banned</strong></article>
            <% } %>
            <% if(data.gear && data.gear.trim().length > 0) { %>
              <article><i class="fas fa-toolbox"></i> gear: <strong><%= data.gear %></strong></article>
            <% } %>
          <article><i class="fas fa-asterisk"></i> participated in <strong><a href="<%= username %>/battles"><%= data.battles.participated %> battles</a></strong></article>
          <% if(data.battles.participated > 0) { %>
              <article><i class="fas fa-trophy"></i><strong> <%= Math.round(data.battles.won / data.battles.participated * 10000) / 100 %>%</strong> winrate</article>
          <% } %>
          <article><i class="fas fa-clock"></i> joined <strong><%= joined %></strong></article>
        </div><br/>

        <i class="fas fa-certificate ico-pad"></i> <strong>badges</strong>
        <div class="info">
          <% Object.keys(data.badges).forEach(function(badge) { %>
            <article><i class="<%= badge %>"></i> <%= data.badges[badge] %></article>
          <% }); %>
        </div>
        <% if(currentGroup == 'admin') { %>
          <br/>
          <i class="fas fa-cogs ico-pad"></i> <strong>ops</strong>
          <div class="info">
            <article>&gt; <a href="../ops/users/<%= username %>">view user in ops</a></article>
          </div>
        <% } %>
      </div>
   </div>
  </body>
</html>
