<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: 'profile'}) %>
    <strong>
      <a class="nohover" href="/profile/<%= username %>">..</a> change password
    </strong>
    <div class="info nospill nav">
      <div class="profile-main nospill">
        <i class="fas fa-user-circle ico-pad"></i> <strong>credentials</strong>
        <form action="/profile/edit/<%=username %>/password" method="POST">
            <div class="info mb-8">
                <article>username: <strong><%= username %></strong></article>
                <article><input type="password" placeholder="current password" name="oldpw" minlength="8" required></article>
                <article><input type="password" placeholder="new password" name="newpw" minlength="8" required></article>
            </div>
            <input class="full-vis" type="submit" value="save">
        </form>
      </div>
   </div>
  </body>
</html>
