<!DOCTYPE html> 
<html>
  <head>
    <%- include('partials/header.ejs', {title: 'home'}) %>
  </head>
  <body>
    <%- include('partials/nav.ejs', {active: 'home'}) %>
    <strong>
      <i class="fas fa-fan ico-pad"></i> home
    </strong>
    <div class="info nospill nav">
      <article><i class="fas fa-user-circle ico-pad"></i> <strong>welcome back, <%= username %>.</strong></article>
      <span><i class="fas fa-bullhorn ico-pad"></i> bulletin (<%= date %>)</span>
      <% if(group == 'admin') { %>
        <a href="ops/sys"><i class="fas fa-edit"></i></a>
      <% } %>
      <div class="info">
        <%= bulletin.message %>
      </div><br/>
      <span><i class="fas fa-globe-europe ico-pad"></i> quick actions</span>
      <div class="info">
        <% if(permissions.includes('can_suggest_rules') || permissions.includes('*')) { %>
          <article><span>&gt; <a href="/suggest">suggest rules or samples</a></span></article>
        <% } %>
        <% if(permissions.includes('can_create_battles') || permissions.includes('*')) { %>
          <article><span>&gt; <a href="/suggest/view">view suggestions</a></span></article>
        <% } %>
        <article><span>&gt; <a href="https://tapes.ws">return to tapes.ws</a></span></article>
        <% if(permissions.includes('can_view_ops') || permissions.includes('*')) { %>
          <article><span>&gt; <a href="/ops">view ops dashboard</a></span></article>
        <% } %>
        <article><span>&gt; <a href="/logout">log out</a></span></article>
      </div>
    </div>
    
  </body>
</html>