<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'badges'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <a href="/profile/<%= user.username %>">..</a> <%= user.username %>'s badges
    </strong>
    <div class="info nospill nav">
        <% Object.keys(user.data.badges).forEach(function(badge) { %>
          <article>
              <i class="<%= badge %>"></i> <%= user.data.badges[badge] %> 
              <a class="year" href="/ops/users/<%= user.username %>/removebadge/<%= encodeURI(badge) %>">(x)</a>
        </article>
        <% }); %>
        <br />
        <i class="fas fa-edit ico-pad"></i> <strong>add badge</strong> <span class="preview"><i id="ico-preview" class="year"></i></span>
        <div class="info">
            <form action="addbadge" method="POST">
              <input name="ico" id="preview" type="text" placeholder="badge icon (fas fa-xyz)" required>
              <input name="val" type="text" placeholder="badge label" required> <br/>
              <input type="submit" value="add" class="width-initial">
            </form>
        </div>
    </div>
    <script src="../../../js/badge-preview.js"></script>
  </body>
</html>