<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <i class="fas fa-fan ico-pad"></i> operations dashboard
    </strong>
    <div class="info nospill nav">
        <article><i class="fas fa-list ico-pad"></i> <a href="/ops/battles">manage battles</a></article>
        <article><i class="fas fa-users ico-pad"></i> <a href="/ops/groups">manage groups</a></article>
        <article><i class="fas fa-ticket-alt ico-pad"></i> <a href="/ops/invites">manage invites</a></article>
        <% if(group == "admin") { %>
            <article><i class="fas fa-user-cog ico-pad"></i> <a href="/ops/users">manage users</a></article>
            <article><i class="fas fa-cogs ico-pad"></i> <a href="/ops/sys">system actions</a></article>
        <% } %>
        <br/>
        <article><i class="fas fa-info-circle ico-pad"></i> <strong>statistics</strong></article>
        <article>
            <div class="info">
                <article><strong>user count</strong>: <%= userCount %></article>
                <article><strong>uptime</strong>: <%= uptime %></article>
                <% if(commit.trim() != "") { %>
                  <article>
                    <strong>latest commit <span class="year">(<%= commit.split('|')[0] %>)</span></strong>:
                  </article>
                  <div class="info">
                    <article><%= commit.split('|')[1] %></article>
                  </div>
                <% } %>
            </div>
        </article>
    </div>
  </body>
</html>
