<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'groups'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <a href="..">..</a> edit group: <%= group.name %>
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user-edit ico-pad"></i> <strong>permissions</strong>
      <div class="info">
        <form method="POST">
            <% Object.keys(permNodes).forEach(perm => { 
               var checkedValue = group.permissions.includes('*') ? 'checked disabled' : group.permissions.includes(perm) ? 'checked' : '' %>
              <input type="checkbox" name="<%= perm %>" value="1" <%- checkedValue %> /><%= permNodes[perm] %> <br />
            <% }); %>
        <br/>
        <input class="full-vis width-initial" type="submit" value="apply">
        </form>
    </div>
  </body>
</html>