<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <div class="header">
      <span class="title noselect">tapes.ws<sup><small class="year">arena</small></sup></span>
      <span class="nav noselect">[ <a href="../../">home</a> / <a href='../c/submit'>battles</a> / <a href="/profile">profile</a> ]</span>
    </div>
    <strong class="nav">
      <i class="fas fa-fan ico-pad"></i> invites
    </strong>
    <span class="nav">[ <a href="/ops/invites/generate">generate</a> ]</span>
    <div class="info nospill nav">
      <i class="fas fa-tags ico-pad"></i> <strong>available invites: </strong>
      <div class="info nospill nav">
        <% for(let i = 0; i < available.length; i++) { %>
          <% let split = available[i].split(" (")[0]; %>
          <article>
            <%- available[i] %> [ <a href="/ops/invites/delete/<%=split %>"><i class="fas fa-trash-alt"></i></a> <a href="/ops/invites/infinite/<%=split %>"><i class="fas fa-infinity"></i></a> ]
          </article>
        <% } %>
      </div>

      <i class="fas fa-tags ico-pad"></i> <strong>used invites: </strong>
      <div class="info nospill nav">
        <% for(let i = 0; i < used.length; i++) { %>
          <article><%- used[i] %></article>
        <% } %>
      </div>
    </div>
  </body>
</html>
