<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header.ejs %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <a href="..">..</a> user: <%= user.username %>
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user-circle ico-pad"></i> <strong>overview</strong>
      <div class="info">
        <article>user group: <strong><%= user.group %></strong></article>
        <article>invite code: <strong><%= invite ? invite.code : '(n/a)' %></strong></article>
        <article>&gt; <a href="/profile/<%= user.username %>">view user profile</a></article>
      </div><br/>
      <i class="fas fa-trophy ico-pad"></i> <strong>badges</strong>
      <div class="info">
        <% Object.keys(user.data.badges).forEach(function(badge) { %>
          <article><i class="<%= badge %>"></i> <%= user.data.badges[badge] %></article>
        <% }); %>
        <article>&gt; <a href="<%= user.username%>/badges">manage badges</a></article>
      </div><br/>
      <i class="fas fa-address-card ico-pad"></i> <strong>set group</strong>
      <div class="info">
        <form action="<%= user.username %>/setgroup" method="POST">
          <select class="mb-4" name="group">
            <% groups.forEach(group => { %>
              <option value="<%= group %>"><%= group %></option>
            <% }); %>
        </select> <br/>
        <input class="full-vis width-initial" type="submit" value="apply">
        </form>
      </div>
    </div>
  </body>
</html>