<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs', {title: 'users'}) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {active: ''}) %>
    <strong class="nav">
      <i class="fas fa-fan ico-pad"></i> system actions
    </strong>
    <div class="info nospill nav">
      <i class="fas fa-user ico-pad"></i> <strong>users</strong>
      <div class="info">
            <% for(let i = 0; i < users.length; i++) { %>
                <article>
                    <a href="users/<%= users[i].username %>"><%= users[i].username %></a> <%- Object.keys(users[i].data.badges).map(badge => `<i class="${badge}"></i>`).join(" ") %>
                </article>
              <% } %>
      </div>
    </div>
  </body>
</html>